@model MvcWithData.Models.Classes.Unvan
<h2></h2>

<div class="row">
    <div class="col-md-7">
        <form method="post">

            @*<input class="form-control" name="UnvanId" type="hidden" value="@Model.UnvanId" />*@
            <label>Ad</label>
            <input class="form-control" name="UnvanAd" type="text" value="@Model.UnvanAd" />
            <input class="btn btn-primary" type="submit" value="Ekle" />
        </form>
    </div>
</div>



