<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h3 style:"color:red;
        <a href="/Home/Index">Anasayfa</a>
        <a href="/Home/About">Biz Kimiz</a>
        <a href="/Home/Contact">Bize Ulaşın</a>
        <a href="/Personel/List">Personel İşlemleri</a>

    </div>>
    <div>
        @RenderBody()
    </div>
</body>
</html>
